@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:
linear-gradient(135deg,#000000,#111111,#1b1b1b);

color:white;

min-height:100vh;

}

/* Container */

.container{

width:100%;

max-width:1200px;

margin:auto;

padding:40px;

}

/* Form */

.form{

background:rgba(255,215,0,.05);

border:1px solid rgba(255,215,0,.15);

backdrop-filter:blur(18px);

padding:30px;

border-radius:20px;

margin-bottom:40px;

box-shadow:0 15px 35px rgba(255,215,0,.08);

}

.form h2{

color:#FFD700;

margin-bottom:20px;

}

/* Inputs */

input,

textarea{

width:100%;

padding:15px;

background:#111;

border:1px solid #444;

color:white;

border-radius:12px;

font-size:16px;

margin-bottom:20px;

}

input:focus,

textarea:focus{

border:1px solid gold;

box-shadow:0 0 10px gold;

outline:none;

}

textarea{

min-height:170px;

resize:none;

}

/* Buttons */

button{

padding:13px 25px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:16px;

font-weight:bold;

transition:.35s;

color:black;

}

/* Add */

.form button{

background:linear-gradient(135deg,#FFD700,#F5C518);

}

.form button:hover{

transform:translateY(-4px);

box-shadow:0 10px 25px rgba(255,215,0,.45);

}

/* Cards */

.note-card{

background:#111;

border:1px solid rgba(255,215,0,.15);

padding:25px;

border-radius:18px;

margin-bottom:25px;

transition:.35s;

box-shadow:0 10px 25px rgba(0,0,0,.45);

}

.note-card:hover{

transform:translateY(-8px);

box-shadow:0 15px 40px rgba(255,215,0,.25);

}

.note-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.note-header h3{

color:#FFD700;

font-size:24px;

}

.note-date{

color:#ccc;

}

.note-content{

line-height:1.8;

color:#eee;

margin-bottom:20px;

}

/* Buttons */

.note-actions{

display:flex;

gap:15px;

}

.edit-btn{

background:linear-gradient(135deg,#FFD700,#ffcc00);

color:black;

}

.delete-btn{

background:linear-gradient(135deg,#ff3d3d,#b00020);

color:white;

}

.edit-btn:hover{

box-shadow:0 10px 20px rgba(255,215,0,.45);

}

.delete-btn:hover{

box-shadow:0 10px 20px rgba(255,0,0,.35);

}

/* Empty */

.empty-state{

text-align:center;

padding:80px;

}

.empty-state h1{

font-size:90px;

}

.note-count{

color:#FFD700;

margin-bottom:25px;

font-weight:500;

}