.navbar{
    height:60px;
    background:#111827;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 25px;
    color:white;
    border-bottom:1px solid #334155;
}

.navbar-left{
    font-size:22px;
    font-weight:bold;
    display:flex;
    gap:10px;
    align-items:center;
}

.navbar-center{
    font-size:18px;
}

.navbar-right{
    background:#1e293b;
    padding:8px 15px;
    border-radius:8px;
}