.navbar{

background:linear-gradient(
135deg,
#000000,
#1a1a1a,
#2b2b2b
);

padding:25px;

display:flex;

justify-content:center;

align-items:center;

border-bottom:2px solid gold;

box-shadow:0 10px 30px rgba(255,215,0,.15);

}

.logo{

font-size:40px;

font-weight:bold;

background:linear-gradient(
135deg,
#FFD700,
#fff5b1,
#FFD700
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.navbar p{

color:#ddd;

margin-top:5px;

text-align:center;

}