.sidebar{
    background:#1e293b;
    color:white;
    padding:20px;
    height:100%;
    overflow-y:auto;
    border-right:1px solid #334155;
}

.sidebar h2{
    margin-bottom:20px;
}

.room-info{
    margin:20px 0;
}

.room-info p{
    margin:10px 0 3px;
    font-weight:bold;
}

.room-info span{
    color:#cbd5e1;
}

.users-list{
    margin-top:20px;
}

.user-card{
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px;
    background:#334155;
    border-radius:10px;
    margin-bottom:10px;
}

.online-dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#22c55e;
}

.no-users{
    color:#94a3b8;
}